<div>
    <div class="fila">
        <div class="col-100 titulos">
            <h1>Inicio</h1>
            <button>
                <img src="assets/arrow-out.svg" alt="">
            </button>
        </div>
    </div>
    <div class="fila">
        <div class="col-100 titulos">
            <button class="jumbo orange">
                <img src="assets/shopping-cart.svg" alt="">
                Ventas
            </button>
            <button class="jumbo crimson">
                <img src="assets/calendar.svg" alt="">
                Logística
            </button>
            <button class="jumbo blue">
                <img src="assets/dollar-sign.svg" alt="">
                Finanzas
            </button>
            <button class="jumbo brown">
                <img src="assets/users.svg" alt="">
                RRHH
            </button>
            <button class="jumbo violet" routerLink="/listado-usuarios">
                <img src="assets/database.svg" alt="">
                Usuarios
            </button>
        </div>
    </div>
</div>
